@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@300&display=swap");
@font-face {
  font-family: 'digital-clock-font';
  src: url("../assets/fonts/digital-7.regular.ttf"); }

body {
  font-family: "Titillium Web", sans-serif; }
  body header {
    padding: 1% 3% 0% 3%; }
    body header div {
      border-radius: 15px; }
      body header div h1 {
        font-weight: 400; }
    body header .header-botonera {
      background-color: transparent; }
      body header .header-botonera button {
        font-size: 2rem;
        margin-top: 3%;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px -1px black; }
      body header .header-botonera:active {
        box-shadow: 0px 0px 5px -1px black inset; }
    body header .boton_modo {
      font-size: 2rem;
      height: 75%;
      border-radius: 5%;
      padding: 0.5%; }
  body main .pad_numerico {
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.62);
    border-radius: 15px;
    border-width: 2px;
    height: auto; }
    body main .pad_numerico_display_input input {
      border-radius: 15px;
      box-shadow: 0px 0px 2px -1px black inset;
      background-color: #A5D7E8;
      border-color: black;
      font-family: "digital-clock-font";
      font-size: 1.75rem;
      font-weight: 1200;
      font-size: 35pt; }
  body main button {
    border-width: 2px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px -1px black; }
    body main button:active {
      box-shadow: 0px 0px 5px -1px black inset; }
  body main .historial .historial-div {
    font-size: 1rem; }
  body main .div-template {
    border-radius: 10px;
    box-shadow: 0px 0px 5px -1px black; }
  body main .partidas {
    margin: 0% 3% 0% 3%; }
    body main .partidas button {
      font-size: 2rem; }
    body main .partidas .div-template {
      border-radius: 10px;
      box-shadow: 0px 0px 5px -1px black;
      margin-top: 1%;
      font-size: 1.5rem; }
    body main .partidas .info-div {
      margin-top: 5%;
      color: black; }
      body main .partidas .info-div h1 {
        text-shadow: 1px 1px 15px #030303;
        font-size: 2.2rem; }

@media (max-width: 768px) {
  body {
    font-family: "Titillium Web", sans-serif; }
    body header {
      padding: 1% 3% 0% 3%; }
      body header div {
        border-radius: 15px; }
        body header div h1 {
          font-weight: 400; }
      body header .header-botonera {
        background-color: transparent;
        padding: 3%; }
        body header .header-botonera button {
          font-size: 2rem; }
      body header .boton_modo {
        font-size: 1.5rem;
        margin-bottom: 2%; }
    body main .pad_numerico_display_input input {
      font-size: 25pt; }
    body main .historial .historial-div {
      font-size: 0.6rem; }
    body main .div-template {
      font-size: 1rem; }
    body main .partidas .boton {
      height: auto;
      padding: 1%; }
      body main .partidas .boton button {
        font-size: 1rem; }
    body main .partidas .div-template {
      font-size: 1rem; }
    body main .partidas .info-div h1 {
      font-size: 1.5rem; }
    body main .partidas .info-div p {
      font-size: 4rem; } }

.bg-color-dark {
  background-color: #051122 !important;
  color: white; }
  .bg-color-dark header div {
    background-color: #19376D; }
    .bg-color-dark header div h1 {
      color: white; }
  .bg-color-dark header .boton_modo {
    background-color: #FFFBF5;
    color: black;
    border: 4px solid #C3ACD0; }
  .bg-color-dark header .header-botonera button {
    background: #0B2447;
    color: white;
    border-color: #A5D7E8; }
    .bg-color-dark header .header-botonera button:hover {
      background: #576CBC; }
  .bg-color-dark main .pad_numerico {
    border-color: #A5D7E8 !important;
    background-color: #19376D; }
  .bg-color-dark main button {
    background: #0B2447;
    color: white; }
    .bg-color-dark main button:hover {
      background: #576CBC; }
  .bg-color-dark main .div-template {
    border: 3px solid white; }
  .bg-color-dark main .partidas h1 {
    text-shadow: 1px 1px 15px white; }
  .bg-color-dark main .partidas .div-template {
    background-color: #0B2447;
    color: white;
    border: 3px solid #A5D7E8; }
  .bg-color-dark main .partidas .info-div {
    color: white; }
    .bg-color-dark main .partidas .info-div h1 {
      text-shadow: 1px 1px 15px white; }
    .bg-color-dark main .partidas .info-div p {
      color: white;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bg-color-light {
  background-color: #FCF8EC !important;
  color: black; }
  .bg-color-light header div {
    background-color: #92C7CF; }
    .bg-color-light header div h1 {
      color: black; }
  .bg-color-light header .boton_modo {
    background-color: #030637;
    color: white;
    border: 4px solid #3C0753; }
  .bg-color-light header .header-botonera button {
    background: #D0E8F2;
    color: black;
    border-color: #79A3B1; }
    .bg-color-light header .header-botonera button:hover {
      background: #AAD7D9; }
  .bg-color-light main .pad_numerico {
    border-color: #79A3B1 !important;
    background-color: #92C7CF; }
  .bg-color-light main button {
    background: #D0E8F2;
    color: black; }
    .bg-color-light main button:hover {
      background: #AAD7D9; }
  .bg-color-light main .div-template {
    border: 3px solid black; }
  .bg-color-light main .partidas h1 {
    text-shadow: 1px 1px 15px black; }
  .bg-color-light main .partidas .div-template {
    background-color: #D0E8F2;
    color: black;
    border: 3px solid #79A3B1; }
  .bg-color-light main .partidas .info-div {
    color: black; }
    .bg-color-light main .partidas .info-div h1 {
      text-shadow: 1px 1px 15px #030303; }
    .bg-color-light main .partidas .info-div p {
      color: black;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body_main {
  height: 95vh;
  background: url(../assets/images/BackgroundNumbers.webp);
  background-position: center;
  background-size: cover;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body_main main {
    display: flex;
    height: 50vh;
    justify-content: center;
    font-size: 1.5rem; }
    .body_main main section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.6);
      width: 80%;
      padding: 2.6%;
      text-shadow: 1px 1px 10px cyan;
      color: beige;
      font-weight: 600;
      font-size: 2rem;
      height: fit-content;
      text-align: center; }
      .body_main main section ☺
h1 {
        font-size: 4rem; }
      .body_main main section p {
        margin: 2%; }
      .body_main main section a {
        font-weight: 900;
        font-size: 3rem;
        text-decoration: none;
        color: black;
        background-color: aqua;
        padding: 1% 3%;
        border-radius: 5rem;
        margin-top: 1%;
        transition: 0.5s; }
        .body_main main section a:hover {
          background-color: blue;
          transition: 0.5s;
          transform: scale(1.2);
          text-shadow: none;
          color: white; }

@media (max-width: 1440px) {
  .body_main {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: auto; } }

@media (max-width: 1024px) {
  .body_main {
    background-size: auto; }
    .body_main main section h1 {
      font-size: 2.5rem; }
    .body_main main section h2 {
      font-size: 2.25rem; }
    .body_main main section p {
      font-size: 1.75rem; } }

@media (max-width: 768px) {
  .body_main main section h1 {
    font-size: 2rem; }
  .body_main main section h2 {
    font-size: 1.75rem; }
  .body_main main section p {
    font-size: 1.2rem; } }

@media (max-width: 320px) {
  .body_main main section h1 {
    font-size: 1.7rem; }
  .body_main main section h2 {
    font-size: 1.5rem; }
  .body_main main section p {
    font-size: 1rem; } }

body {
  font-family: "Titillium Web", sans-serif; }
  body header {
    padding: 1% 3% 0% 3%; }
    body header div {
      border-radius: 15px; }
      body header div h1 {
        font-weight: 400; }
    body header .header-botonera {
      background-color: transparent; }
      body header .header-botonera button {
        font-size: 2rem;
        margin-top: 3%;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px -1px black; }
      body header .header-botonera:active {
        box-shadow: 0px 0px 5px -1px black inset; }
    body header .boton_modo {
      font-size: 2rem;
      height: 75%;
      border-radius: 5%;
      padding: 0.5%; }
  body main .pad_numerico {
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.62);
    border-radius: 15px;
    border-width: 2px;
    height: auto; }
    body main .pad_numerico_display_input input {
      border-radius: 15px;
      box-shadow: 0px 0px 2px -1px black inset;
      background-color: #A5D7E8;
      border-color: black;
      font-family: "digital-clock-font";
      font-size: 1.75rem;
      font-weight: 1200;
      font-size: 35pt; }
  body main button {
    border-width: 2px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px -1px black; }
    body main button:active {
      box-shadow: 0px 0px 5px -1px black inset; }
  body main .historial .historial-div {
    font-size: 1rem; }
  body main .div-template {
    border-radius: 10px;
    box-shadow: 0px 0px 5px -1px black; }
  body main .partidas {
    margin: 0% 3% 0% 3%; }
    body main .partidas button {
      font-size: 2rem; }
    body main .partidas .div-template {
      border-radius: 10px;
      box-shadow: 0px 0px 5px -1px black;
      margin-top: 1%;
      font-size: 1.5rem; }
    body main .partidas .info-div {
      margin-top: 5%;
      color: black; }
      body main .partidas .info-div h1 {
        text-shadow: 1px 1px 15px #030303;
        font-size: 2.2rem; }

@media (max-width: 768px) {
  body {
    font-family: "Titillium Web", sans-serif; }
    body header {
      padding: 1% 3% 0% 3%; }
      body header div {
        border-radius: 15px; }
        body header div h1 {
          font-weight: 400; }
      body header .header-botonera {
        background-color: transparent;
        padding: 3%; }
        body header .header-botonera button {
          font-size: 2rem; }
      body header .boton_modo {
        font-size: 1.5rem;
        margin-bottom: 2%; }
    body main .pad_numerico_display_input input {
      font-size: 25pt; }
    body main .historial .historial-div {
      font-size: 0.6rem; }
    body main .div-template {
      font-size: 1rem; }
    body main .partidas .boton {
      height: auto;
      padding: 1%; }
      body main .partidas .boton button {
        font-size: 1rem; }
    body main .partidas .div-template {
      font-size: 1rem; }
    body main .partidas .info-div h1 {
      font-size: 1.5rem; }
    body main .partidas .info-div p {
      font-size: 4rem; } }

body {
  height: auto;
  width: 100%; }

header {
  height: auto; }

.h-20 {
  height: 17%; }

main {
  height: fit-content; }
  main .pad-numerico {
    height: 60vh;
    padding: 5vh; }
  main .div-template {
    font-size: 1.5rem;
    height: 10vh;
    width: 100%; }
