body
{
    height: 100vh;
    width: 100%;
    font-size: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1vh;
    margin: 0px;
}

section
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h1
{
    font-size: 3.5rem;
}

#pad-numerico{
    height: 100%;
    width: 40%;
}

#pad-numerico
{
    display: block;
}

#pad-numerico .row
{
    width: 97%;
    height: 15vh;
    padding: 1.5%;
    display: flex;
    justify-content: space-around;
}

#pad-numerico .row div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 100%;
}

#pad-numerico .row div button
{
    height: 100%;
    width: 100%;
    font-size: 5rem;
    border-radius: 20px;
}