@import "utilities/variables.scss";
@import "views/juego";
@import "views/darkmode";
@import "views/lightmode";
@import "views/index.scss";
@import "views/juego";

body
{
    height: auto;
    width: 100%;
}

header
{
    height: auto;
}

.h-20
{
    height: 17%;
}
 
main
{
    height: fit-content;
    .pad-numerico
    {
        height: 60vh;
        padding: 5vh;
    }
    
    .div-template
    {
        font-size: 1.5rem;
        height: 10vh;
        width: 100%;
    }
}


