.bg-color-dark
{
    background-color: $bg-color-dark!important;
    color: white;
    header{
        div{
            background-color: $bg-color-dark-divs;
            h1{
                color: white;
            }
        }
        .boton_modo{
            background-color: #FFFBF5;
            color: black;
            border: 4px solid #C3ACD0;
        }
        .header-botonera{
            button{
                background: $bg-color-dark-buttons;
                color: white;
                border-color: $bg-color-dark-buttons-border;
                &:hover
                {
                    background: $bg-color-dark-buttons-hover;
                }
            }
        }
    }
    main
    {
        .pad_numerico
        {
            border-color: $bg-color-dark-buttons-border!important;
            background-color: $bg-color-dark-divs;
        }
        button{
            background: $bg-color-dark-buttons;
            color: white;
            &:hover
            {
                background: $bg-color-dark-buttons-hover;
            }
        }
        .div-template
        {
            border: 3px solid white;
        }
        
        .partidas
        {
            h1{
                text-shadow: 1px 1px 15px white;
            }
            .div-template
            {
                background-color: $bg-color-dark-buttons;
                color: white;
                border: 3px solid $bg-color-dark-buttons-border;
            }
            .info-div
            {
                color: white;
                h1{
                    text-shadow: 1px 1px 15px white;
                }
                p{
                    color: white;
                    text-shadow: 0 1px 0 #ccc,
                                0 2px 0 #c9c9c9,
                                0 3px 0 #bbb,
                                0 4px 0 #b9b9b9,
                                0 5px 0 #aaa,
                                0 6px 1px rgba(0,0,0,.1),
                                0 0 5px rgba(0,0,0,.1),
                                0 1px 3px rgba(0,0,0,.3),
                                0 3px 5px rgba(0,0,0,.2),
                                0 5px 10px rgba(0,0,0,.25),
                                0 10px 10px rgba(0,0,0,.2),
                                0 20px 20px rgba(0,0,0,.15);
                }

            }
        }


    }
}

