*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_main
{
    height: 95vh;
    background: url(assets/images/BackgroundNumbers.webp);
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    main{
        display: flex;
        height: 50vh;
        justify-content: center;
        font-size: 1.5rem;
        section
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0,0,0,0.6);
            width: 80%;
            padding: 2.6%;
            text-shadow: 1px 1px 10px white;
            font-weight: 600;
            font-size: 2rem;
            height: fit-content;
            text-align: center;☺
            h1{
                font-size: 4rem;
            }
            p{
                margin: 2%;
            }
            a{
                font-weight: 900;
                font-size: 3rem;
                text-decoration: none;
                color: black;
                background-color: aqua;
                padding: 1% 3%;
                border-radius: 5rem;
                margin-top: 1%;
                transition: 0.5s;
                &:hover{
                     background-color: blue;
                     transition: 0.5s;
                     transform: scale(1.2);
                     text-shadow: none;
                     color: white;
                }
            }
        }
    }
    }
    
    @media (max-width: 1440px)
    {
        .body_main{
            height: 75vh;
            background-repeat: no-repeat;
            background-size: auto; 
        }

    }

    @media (max-width: 1024px)
    {
        .body_main{
            background-size: auto;
            main{

                section{
                    h1{
                        font-size: 2.5rem;
                    }
                    h2{
                        font-size: 2.25rem;
                    }
                    p{
                        font-size: 1.75rem;
                    }
                }
            }

        }

    }


    @media (max-width: 768px)
    {
        .body_main{
            main{

                section{
                    h1{
                        font-size: 2rem;
                    }
                    h2{
                        font-size: 1.75rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }

        }

    }

    @media (max-width: 320px)
    {
        .body_main{
            main{

                section{
                    h1{
                        font-size: 1.7rem;
                    }
                    h2{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }

        }
        
    }

